body {
    background-color: #FAF6EA;
}

h1 {
    text-align: center;
    color: #668861;
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 6vh;
}

a {
    color:#8D7551;
}

#newbtn {
    border-radius: 50%;
    position: absolute;
    bottom: 50px;
    right: 50px;
    padding: 30px;
    background-color: #8D7551;
    color: white;
    filter: drop-shadow(1px 1px 1px #d9dbe2);
    
}


.offscreen {
    visibility: hidden;
    opacity: 0;
}

.onscreen {
    opacity: 1;
    visibility: showing;
}


/* usability */
.usability {
    display: relative;
    flex-wrap: wrap;
    text-align: center;
}

#usability-item {
    padding-top: 50px;
    display: absolute;
}

#startbtn {
    border-radius: 50%;
    position: absolute;
    padding: 30px;
    /* background-color:white; */
    filter: drop-shadow(1px 1px 1px #d9dbe2);
    /* padding-bottom: 6px; */
}

.center {
    position: relative;
    text-align: center;
}

#usability-text {
    text-align: center;
    max-width: 880px;
    font-size: 20px;
    margin: 10px auto;;
    width: 100%;
    color: #668861;
    font-family: 'Baloo Thambi 2', cursive;
}

/* form */

#name {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    color: #342400;
    width: 75ch;
    max-width: 1366px;
    min-width: 800px;
    margin: 0 auto;
    font-family: 'Baloo Thambi 2', cursive;;
}

input {
    outline: none;
    width: 40%;
    height: 100px;
    border: 0;
    font-size: 54px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 80px;
    color: #241900;
    background: #22c0c300;
}

.next {
    position: absolute;
    bottom: 50px;
    right: 50px;
    color: #BFD1BC;
    border: 0;
    background-color: #FAF6EA;
    font-size: 4vh;
}

.next:hover {
    position: absolute;
    bottom: 50px;
    right: 50px;
    color: #668861;
    border: 0;
    background-color: #FAF6EA;
    font-size: 4vh;
}

