* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: antiquewhite;
}

#myVideo {
    display: block;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    object-fit: cover;
}

.fa-fish {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 36px;
    color: antiquewhite;
    transform: translate(-50%, -50%);
    animation: fish 2s infinite alternate ease-in-out;
}

@keyframes fish {
    0% {
        opacity: .5;
        transform: scale(1);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .5;
        transform: scale(1.5);
    }
}
.fa-radio {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 500px;
    color: rgb(255, 255, 255);
}

.fa-radio:hover {
    cursor: pointer;
}

#quote p {
    position: absolute;
    padding: 1em;
    font-size: 5em;
    font-family: 'Libre Baskerville', serif;
    color: white;
    transition: all 2.5s;

}

#line1 {
    bottom:40%;
    left: 30%;
}

#line2 {
    bottom: 20%;
    left: 20%;
}

#line3 {
    bottom: 0%;
    left: 20%;
}

.hidden {
    opacity: 0;
}

.showing {
    opacity: 1;
}